body {  
    background-color: white; /* Слабый голубой с прозрачностью */
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    transition: background-color 0.3s ease, color 0.3s ease; /* Добавим плавный переход */
}

header {
    display: flex;
    background-color: rgb(255, 255, 255);
    flex-direction: column;
    margin-top: 0;
    padding: 0;
}

.header-container {
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-bottom: 0; /* Отступ от аватарки до остальных элементов */
    height: 86px;
}

.avatar {
    display: none; /* Изначально скрыт */
}

.underline {
    width: 100%;
    height: 2px;
    background-color: rgb(118, 118, 118);
    margin-top: 0;
    box-shadow: 0px 0px rgb(118, 118, 118);
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.menu-icon {
    display: none; /* Изначально скрыт бфд нон вообщето */
    cursor: pointer;
    position: absolute;
    top: 23px; /* Отступ от верхнего края, можно изменить по необходимости */
    right: 0;
    margin-right: 30px;
    width: 35px;
    height: 30px;
    background-color: rgb(255, 255, 255);
}

.line {
    width: 100%;
    height: 5px;
    background-color: rgb(0, 0, 0);
    position: absolute;
    transition: all 0.3s ease;
}

.line:nth-child(1) {
    top: 0;
}

.line:nth-child(2) {
    top: 50%;
    transform: translateY(-50%);
}

.line:nth-child(3) {
    bottom: 0;
}

/* Стили для анимации иконки меню */
.line.hide {
    opacity: 0;
}

.line.move-up {
    transform: rotate(-45deg) translate(2px, 2px);
}

.line.move-down {
    transform: rotate(45deg) translate(-2px, -2px);
}

.line.rotate {
    transform: rotate(135deg) translateY(10px) translateX(-8px);
}

.menu {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 88px;
    left: 50%;
    transform: translateX(-50%);  
    background-color: white;
    box-shadow: 0 1px 50px rgb(238, 238, 238);
    border-radius: 5px;
    z-index: 1000;
    width: 100vw;
    height: calc(100vh - 86px); /*было 100вх*/
    overflow-y: auto; /* Прокрутка по вертикали */
} 

.menu-items {
    display: flex;
    flex-direction: column;
}    

.menu-item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 16px 30px;
    border: none;
    background: none;
    cursor: pointer;
    text-align: left;
    width: 100%;
    font-size: 18px;
    transition: background-color 0.3s ease;
    height: 50px; /* Фиксируем высоту */
}

.menu-item i { /* Значки кнопок */
    margin-right: 22px;
    color: rgb(0, 0, 0);
    flex-shrink: 0;
}



.menu-item a { /* Слова кнопок или текст */ 
    margin-right: 20px;
    color: rgb(0, 0, 0);
    flex-shrink: 0;
    text-decoration: none;
} 


.menu-item span { /*кнопка солнца текст*/
    flex-grow: 1;
    padding-left: 5px;
}
.menu-item:hover i,
.menu-item:hover a,
.menu-item:hover span    {
    color: rgb(111, 109, 109);    
}

.menu-item:hover {
    background-color: rgb(255, 255, 255);
}


.divider {
    height: 1.3px;
    background-color: rgb(163, 161, 161);
    margin: 10px auto;
    width: 84%;
    min-width: 50px;
} 


.login-container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    padding-bottom: 20px; /* Добавляем отступ внизу */
}

.login-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(19, 96, 189);
    color: rgb(255, 255, 255);
    border: 1px solid rgb(255, 255, 255);
    border-radius: 30px; /* Округление */
    padding: 10px 20px;
    width: 350px;
    height: 48px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    overflow: hidden; /* Скрытие выходящего содержимого */
}

.login-button:active,
.login-button:focus {
    background-color: rgb(17, 85, 165); /* Цвет при нажатии */
    border: 1px solid rgb(255, 255, 255); /* Цвет границы */
    outline: none; /* Убираем стандартную рамку фокуса */
    box-shadow: none; /* Убираем тень, если она есть */
}



.login-button:hover {
    background-color: rgb(17, 85, 165);
    border-radius: 30px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0;
}

main h2 {
    color: rgb(0, 0, 0);
    text-align: center;
}

main p {
    font-size: 13px;
    line-height: 1.9;
    margin: 100px 30px;
    text-align: justify;
}

.frame {
    margin: 20px auto;
    width: 80%;
    padding: 20px;
    border-radius: 10px;
    background-image: url('../fonts/lim.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: relative;
    z-index: 1;
}

.frame h2, .frame p {
    color: white;
}

.frame::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    z-index: -1;
}

/* Медиа-запросы для мобильных м планшетов устройств (макс. ширина 768px) */
@media (max-width: 1024px) {
    .avatar, .menu-icon {
        display: flex; /* Показываем на мобильных устройствах */
    }
}

/* Медиа-запросы для ПК (мин. ширина 769px) */
@media (min-width: 1025px) {
    .avatar, .menu-icon {
        display: none; /* Скрываем на ПК */
    }
}

.back-button {
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 60px; /* Размер стрелки */
    font-weight: bold; /* Жирность стрелки */
    display: none; /* Изначально скрыта */
}

.back-button a {
    text-decoration: none;
    color: black; /* Цвет стрелки */
}

.back-button span {
    display: block;
    width: 40px; /* Ширина кнопки */
    height: -100%; /* Высота такая же, как у гамбургера */
    line-height: 40px; /* Вертикальное выравнивание текста */
    text-align: center; /* Центрирование стрелки */
}

.back-button a:hover span {
    color: black; /* Изменение цвета при наведении */
}

/* Медиа-запросы для мобильных устройств (макс. ширина 768px) */
@media (max-width: 768px) {
   .back-button {
        display: flex; /* Показываем на мобильных устройствах */
    }
}

/* Медиа-запросы для ПК (мин. ширина 769px) */
@media (min-width: 769px) {
   .back-button {
        display: none; /* Скрываем на ПК */
    }
}



.search-container {
    position: relative;
    width: 80%; /* Ширина по процентам */
    margin: -220px auto 10px; /* Отступы */
    display: flex;
    align-items: center;
    border: 2px solid #ccc;
    border-radius: 30px; /* Круглые края */
    padding: 5px 15px;
    transition: background-color 0.3s ease, border-color 0.3s ease; /* Плавная смена стилей */
}

.search-icon {
    color: #888;
    font-size: 24px;
    margin-right: 15px; /* Отступ справа */
}

.search-input {
    flex-grow: 1; /* Поле растягивается на всё доступное пространство */
    border: none;
    outline: none;
    font-size: 18px;
    padding: 10px;
    color: #000; /* Тёмный текст */
    background-color: transparent;
    transition: color 0.3s ease;
}

.clear-button {
    background: none;
    border: none;
    font-size: 24px;
    color: #888;
    cursor: pointer;
    display: none; /* Скрыта по умолчанию */
    margin-left: 15px; /* Отступ */
    transition: color 0.3s ease;
}

.clear-button:hover {
    color: #333;
}

body.dark-theme .search-container {
    border-color: #666; /* Тёмная рамка в тёмной теме */
}

body.dark-theme .search-input {
    color: #fff; /* Белый текст в тёмной теме */
}

body.dark-theme .clear-button {
    color: #bbb;
}

body.dark-theme .clear-button:hover {
    color: #fff;
}

/* Медиа-запросы для мобильных устройств (макс. ширина 768px) */
@media (max-width: 768px) {
    .search-container {
        display: flex; /* Показываем поисковик на мобильных устройствах */
    }
}

/* Медиа-запросы для ПК (мин. ширина 769px) */
@media (min-width: 769px) {
    .search-container {
        display: none; /* Скрываем поисковик на ПК */
    }
}

body.dark-theme .search-container {
    border-color: #666; /* Цвет рамки в темной теме */
}

body.dark-theme .search-input {
    color: #ffffff; /* Белый текст в темной теме */
}

body.dark-theme .clear-button {
    color: #bbb;
}

body.dark-theme .clear-button:hover {
    color: #fff;
}

/* Убираем расширение контейнера при появлении кнопки X */
.search-container {
    max-width: 100%; /* Чтобы контейнер оставался фиксированным при появлении X */
}

/* Стили для темной темы */
body.dark-theme {
    background-color: #121212; /* Цвет фона для темной темы */
    color: #ffffff; /* Цвет текста для темной темы */
}

body.dark-theme .header{
    color: #ff0000; /* Цвет  */
}

body.dark-theme .header-container {
    background-color: #121212;
}

body.dark-theme .menu-icon {
    background-color:  #121212;
}

body.dark-theme .line {
    background-color: rgb(255, 255, 255);
}

body.dark-theme .menu  {
    background-color: #1e1e1e;
}

body.dark-theme .back-button a {  
    color: rgb(255, 255, 255); /* Цвет стрелки */
}

body.dark-theme .menu-item {
    background-color: #1e1e1e; /* Цвет фона для кнопок в темной теме */
    color: #ffffff; /* Цвет текста для кнопок в темной теме */
}

body.dark-theme .menu-item i {
    color: #ffffff; /* Цвет текста для ссылок в темной теме */
}

body.dark-theme .menu-item a {
    color: #ffffff; /* Цвет текста для ссылок в темной теме */
}

body.dark-theme .menu-item:hover {
    background-color: #1e1e1e; /* было #333 Цвет фона при наведении в темной теме */
}

body.dark-theme .menu-item:hover i,
body.dark-theme .menu-item:hover a,
body.dark-theme .menu-item:hover span {
    color: rgb(111, 109, 109);
}


body.dark-theme  .menu-item:hover i,
                .menu-item:hover a,
                .menu-item:hover span    {
    color: rgb(111, 109, 109);    
}


body.dark-theme .login-button {
    background-color: rgb(19, 96, 189); /* Цвет фона для кнопки Войти в темной теме */
    color: #ffffff; /* Цвет текста для кнопки Войти в темной теме */
    border: 1px solid #1e1e1e;
}

body.dark-theme .login-button:hover {
    background-color: rgb(17, 85, 165);
}    

body.dark-theme .frame {
    background-color: #1e1e1e; /* Цвет фона рамки в темной теме */
    border: 2px solid #333; /* Цвет рамки в темной теме */
}

.avatar img {
    width: 77px; /* или нужный размер */
    height: 77px; /* или нужный размер */
    border-radius: 50%; /* Для круглой формы */
    object-fit: cover; /* Обеспечивает правильное обрезание изображения */
}
